@import url('https://fonts.googleapis.com/css?family=Roboto&subset=cyrillic');

@font-face {
	font-family: 'Gilroy Regular';
	src: url('../fonts/Gilroy-Regular.eot');
	src: url('../fonts/Gilroy-Regular.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/Gilroy-Regular.woff') format('woff'),
		 url('../fonts/Gilroy-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'DIN Pro Regular';
	src: url('../fonts/DINPro.eot');
	src: url('../fonts/DINPro.eot?#iefix') format('embedded-opentype'),
		 url('../fonts/DINPro.woff') format('woff'),
		 url('../fonts/DINPro.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

